<h1>Listing girls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @girls.each do |girl| %>
  <tr>
    <td><%= girl.name %></td>
    <td><%= girl.number %></td>
    <td><%= link_to 'Show', girl %></td>
    <td><%= link_to 'Edit', edit_girl_path(girl) %></td>
    <td><%= link_to 'Destroy', girl, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Girl', new_girl_path %>
